
@using DDAC_Assignment_Mining_Commerce.Helper
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor



<ul class="navbar-nav">
    @if (HttpContextAccessor.HttpContext.Session.Get("AuthUser") == null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register_buyer" asp-controller="Register" asp-action="Buyer">Register as Buyer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="register_seller" asp-controller="Register" asp-action="Seller">Register as Seller</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="Login" asp-action="Index">Login</a>
        </li>
    }
    else
    {
        var username = HttpContextAccessor.HttpContext.Session.Get<UserModel>("AuthUser").fullname;
        <li>Welcome @username</li>
        switch (HttpContextAccessor.HttpContext.Session.Get<UserType>("UserType"))
        {
            case UserType.BUYER:
                //Buyer Nav Items
                <li class="nav-item">
                    <a class="nav-link text-dark" id="product_view" asp-controller="Products" asp-action="Display">View Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" id="store_view" asp-controller="DisplayProduct" asp-action="Cart">Cart</a>
                </li>
                break;
            case UserType.SELLER:
                //Seller Nav Items
                <li class="nav-item">
                    <a class="nav-link text-dark" id="product_view" asp-controller="Products" asp-action="Index">Product List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" id="store_view" asp-controller="Store" asp-action="Details">Store Profile</a>
                </li>
                break;
            case UserType.ADMIN:
                <li class="nav-item">
                    <a class="nav-link text-dark" id="approve_seller" asp-controller="Admin" asp-action="Approve">Approve Seller</a>
                </li>
                //Admin Nav Items
                break;
        }
        //Authenticated User Nav Items
        <li class="nav-item">
            <a class="nav-link text-dark" id="Edit" asp-controller="User" asp-action="Edit">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="logout" asp-controller="Login" asp-action="Logout">Logout</a>
        </li>
    }

</ul>