@model ReportViewModel
@{
    ViewData["Title"] = "Report";
    @using DDAC_Assignment_Mining_Commerce.Controllers
    @using DDAC_Assignment_Mining_Commerce.Models.Analytics;
}

<style>
    .card {
        margin-bottom:2vh;
    }
</style>

<h1>
    @ViewData["Title"]
</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Buyers</h5>
        <div class="card-content">
            @await Html.PartialAsync("../Admin/Report/_Buyers", Model.buyers) 
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Sellers</h5>
        <div class="card-content">
            @await Html.PartialAsync("../Admin/Report/_Sellers", Model.sellers)
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Products</h5>
        <div class="card-content">
            @await Html.PartialAsync("../Admin/Report/_Products",Model.products) 
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Login Analytics</h5>
        <div class="card-content">
            @await Html.PartialAsync("../Admin/Report/_LoginAnalytics", Model.login_)
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Registration Analytics</h5>
        <div class="card-content">
            @await Html.PartialAsync("../Admin/Report/_RegisterAnalytics", Model.registration_)
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Products Analytics</h5>
        <div class="card-content">
            @await Html.PartialAsync("../Admin/Report/_ProductAnalytics", Model.product_)
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Products Analytics</h5>
        <div class="card-content">
            @await Html.PartialAsync("../Admin/Report/_OrderAnalytics", Model.order_)
        </div>
    </div>
</div>






