<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://ddac.documents.azure.com:443/" />
    <add key="PrimaryKey" value="uMnKg7cT6khy2fD3D7XMhhH1ZMwmdMvBw7IjmFGwa0fGCnF3AJr0G6B0ANSp86ODcZ0XjkTCGqzBcTSHXfD88Q==" />
  </appSettings>
</configuration>