@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>We are a company that strives to provide the smoothest service to facilitate ore transactions between buyers and sellers.</p>
<p>
    Our principles are derived from the founder's values that the more accessibility the world has, the more creativity can flourish. <br />
    Ore You Ready provides the accesiblity for raw ores to be purchased by interested parties to experiement or develop a project with. <br />
    We also have plans for more systems in the future to better facilitate the transactions — which you can look forward to. <br />
</p>